[submodule "libs/opentimelineio"]
	path = libs/opentimelineio
	url = https://github.com/AcademySoftwareFoundation/OpenTimelineIO.git
[submodule "libs/nativefiledialog"]
	path = libs/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "libs/implot"]
	path = libs/implot
	url = https://github.com/epezent/implot
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
